#middle{
  vertical-align: middle;
  text-align: center;
  margin-top: 70px;
}

#google_logo{
  margin:auto;
  display: block;
  clear: right;

}
#bottom_bar{
  display: block;
  bottom: 0px;
	width: 100%;
  position: fixed;
  margin:0px;
  padding: 15px;
  background-color: #efefef;
}

#bottom_bar a{
  color: #5f656b;
  font-family: sans-serif;
  margin-right: 5px;
  font-size: 14px;
  text-decoration:none;
}

#bottom_bar-left{
  float: left;
  clear: bottom 
}

#bottom_bar-right{
	float: right;
}

#search{
  padding: 10px;
  width: 500px;
  clear: right;
  display:block;
  margin: auto;
  margin-bottom: 20px;
}

button{
  padding: 10px 15px;
  color: #807474;
  font-weight: bold;
  border: 0px;
  background-color: #f1f1f1;
}
#clear{
  clear:both;
}
#top_bar{
  float: right;
}

#top_bar a{
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  padding: 10px;
  color: #716666;

}

body{
  padding: 0px;
  margin: 10px 0px 0px 0px;
}




